body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.top-menu {
    text-align: center;
    list-style: none;
}

.top-menu-item {
    font-size:18px ;
    font-weight:900;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 65px;
}

.top-menu-item:last-of-type {
    margin-right: 0;
}

.top-menu-item-link {
    color: #16a085;
    text-decoration: none;
}

.top-img {
    width: 1280px;
}

.main-content {
    text-align: center;
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    background-color: #f5f6f7;
    padding-top: 60px;
}

.text-wrapper {
    width: 1060px;
    margin: 0 auto 65px;
}

.main-content-title {
    text-transform: uppercase;
    margin-top: 0;
}

.main-content-text {
    font-size: 16px;
    font-weight: 900;
}

.submit-button {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    padding: 25px 45px;
    margin-bottom: 95px;
    border: none;
    background-color: #0fa186;
    color: white;
    cursor: pointer;
}

.footer {
    text-align: right;
    padding: 50px 0;
}